<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% for article in article.all %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
   </div>
{% endfor %}

{% for blog in blog.all %}
   <div class="container">
       <h1>{{ blog.title }}</h1>
       <p>{{ blog.body }}</p>
       <p>{{ blog.date }}</p>
   </div>
{% endfor %}
</body>
</html>